<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-testplugin"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Test Plugin</name>

    <js-module name="TestPlugin" src="www/TestPlugin.js">
        <clobbers target="TestPlugin" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/TestPlugin.java"
                     target-dir="src/com/testplugin" />
    </platform>

</plugin>
